Proyecto_Inicial/SIT-FONDOS/Sit.BusinessEntities/Entities/BCRSeriadoBE.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="BCRSeriadoBE" targetNamespace="http://tempuri.org/BCRSeriadoBE.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/BCRSeriadoBE.xsd" xmlns:mstns="http://tempuri.org/BCRSeriadoBE.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BCRSeriado">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CodigoMnemonico" type="xs:string" />
				<xs:element name="CuentaContable" type="xs:string" />
				<xs:element name="NombreCuenta" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>