Proyecto_Inicial/SIT-FONDOS/SITSolution/IN-SIT/App_Code/Datasets/DsPatrimonioIncDec.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="DsPatrimonioIncDec" targetNamespace="http://tempuri.org/DsPatrimonioIncDec.xsd"
	elementFormDefault="qualified" xmlns="http://tempuri.org/DsPatrimonioIncDec.xsd" xmlns:mstns="http://tempuri.org/DsPatrimonioIncDec.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PatrimonioIncDec">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Clasificacion" type="xs:string" />
				<xs:element name="Nombre" type="xs:string" />
				<xs:element name="Valor" type="xs:decimal" />
				<xs:element name="Tipo" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>