Proyecto_Inicial/SIT-FONDOS/SITSolution/IN-SIT/App_WebReferences/FondosSuraWS_Email/EmailManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://common.fondossura.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://common.fondossura.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.fondossura.com">
      <xs:element name="enviarEmail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="enviarEmailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="enviarEmailRequest">
    <wsdl:part name="parameters" element="ns:enviarEmail" />
  </wsdl:message>
  <wsdl:message name="enviarEmailResponse">
    <wsdl:part name="parameters" element="ns:enviarEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailManagerPortType">
    <wsdl:operation name="enviarEmail">
      <wsdl:input wsaw:Action="urn:enviarEmail" message="ns:enviarEmailRequest" />
      <wsdl:output wsaw:Action="urn:enviarEmailResponse" message="ns:enviarEmailResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailManagerSoap11Binding" type="ns:EmailManagerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviarEmail">
      <soap:operation soapAction="urn:enviarEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailManagerSoap12Binding" type="ns:EmailManagerPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviarEmail">
      <soap12:operation soapAction="urn:enviarEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailManagerHttpBinding" type="ns:EmailManagerPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="enviarEmail">
      <http:operation location="enviarEmail" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailManager">
    <wsdl:port name="EmailManagerHttpSoap11Endpoint" binding="ns:EmailManagerSoap11Binding">
      <soap:address location="http://sppeapp00024:9081/FondosSuraWS/services/EmailManager.EmailManagerHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="EmailManagerHttpSoap12Endpoint" binding="ns:EmailManagerSoap12Binding">
      <soap12:address location="http://sppeapp00024:9081/FondosSuraWS/services/EmailManager.EmailManagerHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="EmailManagerHttpEndpoint" binding="ns:EmailManagerHttpBinding">
      <http:address location="http://sppeapp00024:9081/FondosSuraWS/services/EmailManager.EmailManagerHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>