Proyecto_Inicial/SIT-CARTAS/CartasSolution/IN-Cartas/App_WebReferences/ws_seguridad/SeguridadImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://dao.seguridad.wsseguridad.integra.com/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax23="http://bean.seguridad.wsseguridad.integra.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://impl.servicio.wsseguridad.integra.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://impl.servicio.wsseguridad.integra.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.seguridad.wsseguridad.integra.com/xsd">
      <xs:complexType name="ResultObtenerInfoSesionBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="codRol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaInicioSesion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaInicioSesionTexto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombreRol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultListarMenuAplicativoBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="codOpcionMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codOpcionMenuPadre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descEstado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="open" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tituloOpcionMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao.seguridad.wsseguridad.integra.com/xsd">
      <xs:complexType name="SeguridadDao">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://dao.seguridad.wsseguridad.integra.com/xsd" xmlns:ax24="http://bean.seguridad.wsseguridad.integra.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.servicio.wsseguridad.integra.com">
      <xs:import namespace="http://dao.seguridad.wsseguridad.integra.com/xsd" />
      <xs:import namespace="http://bean.seguridad.wsseguridad.integra.com/xsd" />
      <xs:element name="setSeguridadDao">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="seguridadDao" nillable="true" type="ax22:SeguridadDao" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ObtenerInfoSesion">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="tokenSesion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ObtenerInfoSesionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax24:ResultObtenerInfoSesionBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListarMenuAplicativo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="tokenSesion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListarMenuAplicativoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax24:ResultListarMenuAplicativoBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setSeguridadDaoRequest">
    <wsdl:part name="parameters" element="ns:setSeguridadDao" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfoSesionRequest">
    <wsdl:part name="parameters" element="ns:ObtenerInfoSesion" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfoSesionResponse">
    <wsdl:part name="parameters" element="ns:ObtenerInfoSesionResponse" />
  </wsdl:message>
  <wsdl:message name="ListarMenuAplicativoRequest">
    <wsdl:part name="parameters" element="ns:ListarMenuAplicativo" />
  </wsdl:message>
  <wsdl:message name="ListarMenuAplicativoResponse">
    <wsdl:part name="parameters" element="ns:ListarMenuAplicativoResponse" />
  </wsdl:message>
  <wsdl:portType name="SeguridadImplPortType">
    <wsdl:operation name="setSeguridadDao">
      <wsdl:input wsaw:Action="urn:setSeguridadDao" message="ns:setSeguridadDaoRequest" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInfoSesion">
      <wsdl:input wsaw:Action="urn:ObtenerInfoSesion" message="ns:ObtenerInfoSesionRequest" />
      <wsdl:output wsaw:Action="urn:ObtenerInfoSesionResponse" message="ns:ObtenerInfoSesionResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListarMenuAplicativo">
      <wsdl:input wsaw:Action="urn:ListarMenuAplicativo" message="ns:ListarMenuAplicativoRequest" />
      <wsdl:output wsaw:Action="urn:ListarMenuAplicativoResponse" message="ns:ListarMenuAplicativoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeguridadImplSoap11Binding" type="ns:SeguridadImplPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setSeguridadDao">
      <soap:operation soapAction="urn:setSeguridadDao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInfoSesion">
      <soap:operation soapAction="urn:ObtenerInfoSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMenuAplicativo">
      <soap:operation soapAction="urn:ListarMenuAplicativo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeguridadImplSoap12Binding" type="ns:SeguridadImplPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setSeguridadDao">
      <soap12:operation soapAction="urn:setSeguridadDao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInfoSesion">
      <soap12:operation soapAction="urn:ObtenerInfoSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMenuAplicativo">
      <soap12:operation soapAction="urn:ListarMenuAplicativo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeguridadImplHttpBinding" type="ns:SeguridadImplPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="setSeguridadDao">
      <http:operation location="SeguridadImpl/setSeguridadDao" />
      <wsdl:input>
        <mime:content part="setSeguridadDao" type="text/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInfoSesion">
      <http:operation location="SeguridadImpl/ObtenerInfoSesion" />
      <wsdl:input>
        <mime:content part="ObtenerInfoSesion" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="ObtenerInfoSesion" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMenuAplicativo">
      <http:operation location="SeguridadImpl/ListarMenuAplicativo" />
      <wsdl:input>
        <mime:content part="ListarMenuAplicativo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="ListarMenuAplicativo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeguridadImpl">
    <wsdl:port name="SeguridadImplHttpSoap11Endpoint" binding="ns:SeguridadImplSoap11Binding">
      <soap:address location="http://sppeapp00024:9082/WSSeguridad/services/SeguridadImpl.SeguridadImplHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SeguridadImplHttpSoap12Endpoint" binding="ns:SeguridadImplSoap12Binding">
      <soap12:address location="http://sppeapp00024:9082/WSSeguridad/services/SeguridadImpl.SeguridadImplHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SeguridadImplHttpEndpoint" binding="ns:SeguridadImplHttpBinding">
      <http:address location="http://sppeapp00024:9082/WSSeguridad/services/SeguridadImpl.SeguridadImplHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>